#content{
    background-image: url(./connect.jpg);

    background-repeat: no-repeat;
    background-position: center;
    
   background-size: cover;
   background-attachment: fixed;

    width: auto;
    height: 600px;
   
   
}

.backColor{
    opacity: 0.8;
    background-color:red ;
    width: auto;
    height: 600px;
    
}

#bottom{

    background-color: lightgrey;
    width: auto;
  

} 


#navbar{
    position:fixed;
    z-index: 2;
}

.text{
    
    color: white;
}

#bottom div a{
    text-decoration: none;
    color: black;
}

#termsBox{
    
   
    width: auto;
   padding: 10px;
    background-color:lightgrey;
}

#termContent{
    padding: 10px;
    
    
   background-color: white;
}




#login{
  
  position:fixed;
  height: 500px;
  width: 500px;
  background-color: white;
  
}

